In [1]:
!pip install ipython-sql

%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
!pip install sqlalchemy pymysql openpyxl

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
# %sql mysql://root:your_password@localhost/your_database
%sql mysql://root:Mother%40123@localhost/sales_data

In [4]:
%sql SHOW TABLES FROM sales_data;

 * mysql://root:***@localhost/sales_data
1 rows affected.

[('sales_data_sample',)]

In [5]:
%sql SELECT * FROM sales_data_sample LIMIT 5;

 * mysql://root:***@localhost/sales_data
5 rows affected.

[(10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', '', 'NYC', 'NY', '10022', 'USA', 'NA', 'Yu', 'Kwai', 'Small', datetime.date(2003, 2, 24)),
 (10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", '', 'Reims', '', '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small', datetime.date(2003, 5, 7)),
 (10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', '', 'Paris', '', '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium', datetime.date(2003, 7, 1)),
 (10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', '', 'Pasadena', 'CA', '90003', 'USA', 'NA', 'Young', 'Julie', 'Medium', datetime.date(2003, 8, 25)),
 (10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', '', 'San Francisco', 'CA', '', 'USA', 'NA', 'Brown', 'Julie', 'Medium', datetime.date(2003, 10, 10))]

In [6]:
%%sql

DESCRIBE sales_data_sample;

 * mysql://root:***@localhost/sales_data
26 rows affected.

[('ORDERNUMBER', 'int', 'YES', '', None, ''),
 ('QUANTITYORDERED', 'int', 'YES', '', None, ''),
 ('PRICEEACH', 'double', 'YES', '', None, ''),
 ('ORDERLINENUMBER', 'int', 'YES', '', None, ''),
 ('SALES', 'double', 'YES', '', None, ''),
 ('ORDERDATE', 'text', 'YES', '', None, ''),
 ('STATUS', 'text', 'YES', '', None, ''),
 ('QTR_ID', 'int', 'YES', '', None, ''),
 ('MONTH_ID', 'int', 'YES', '', None, ''),
 ('YEAR_ID', 'int', 'YES', '', None, ''),
 ('PRODUCTLINE', 'text', 'YES', '', None, ''),
 ('MSRP', 'int', 'YES', '', None, ''),
 ('PRODUCTCODE', 'text', 'YES', '', None, ''),
 ('CUSTOMERNAME', 'text', 'YES', '', None, ''),
 ('PHONE', 'text', 'YES', '', None, ''),
 ('ADDRESSLINE1', 'text', 'YES', '', None, ''),
 ('ADDRESSLINE2', 'text', 'YES', '', None, ''),
 ('CITY', 'text', 'YES', '', None, ''),
 ('STATE', 'text', 'YES', '', None, ''),
 ('POSTALCODE', 'text', 'YES', '', None, ''),
 ('COUNTRY', 'text', 'YES', '', None, ''),
 ('TERRITORY', 'text', 'YES', '', None, ''),
 ('CONTACTLASTNAME', 'text', 'YES', '', None, ''),
 ('CONTACTFIRSTNAME', 'text', 'YES', '', None, ''),
 ('DEALSIZE', 'text', 'YES', '', None, ''),
 ('ORDER_DATE', 'date', 'YES', '', None, '')]

In [7]:
%%sql

ALTER TABLE sales_data_sample
ADD COLUMN ORDER_DATE DATE

 * mysql://root:***@localhost/sales_data
(MySQLdb.OperationalError) (1060, "Duplicate column name 'ORDER_DATE'")
[SQL: ALTER TABLE sales_data_sample
ADD COLUMN ORDER_DATE DATE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
%%sql

UPDATE sales_data_sample
SET ORDER_DATE = STR_TO_DATE(ORDERDATE, '%m/%d/%Y %H:%i');

 * mysql://root:***@localhost/sales_data
2823 rows affected.

[]

In [9]:
%%sql

DESCRIBE sales_data_sample;

 * mysql://root:***@localhost/sales_data
26 rows affected.

[('ORDERNUMBER', 'int', 'YES', '', None, ''),
 ('QUANTITYORDERED', 'int', 'YES', '', None, ''),
 ('PRICEEACH', 'double', 'YES', '', None, ''),
 ('ORDERLINENUMBER', 'int', 'YES', '', None, ''),
 ('SALES', 'double', 'YES', '', None, ''),
 ('ORDERDATE', 'text', 'YES', '', None, ''),
 ('STATUS', 'text', 'YES', '', None, ''),
 ('QTR_ID', 'int', 'YES', '', None, ''),
 ('MONTH_ID', 'int', 'YES', '', None, ''),
 ('YEAR_ID', 'int', 'YES', '', None, ''),
 ('PRODUCTLINE', 'text', 'YES', '', None, ''),
 ('MSRP', 'int', 'YES', '', None, ''),
 ('PRODUCTCODE', 'text', 'YES', '', None, ''),
 ('CUSTOMERNAME', 'text', 'YES', '', None, ''),
 ('PHONE', 'text', 'YES', '', None, ''),
 ('ADDRESSLINE1', 'text', 'YES', '', None, ''),
 ('ADDRESSLINE2', 'text', 'YES', '', None, ''),
 ('CITY', 'text', 'YES', '', None, ''),
 ('STATE', 'text', 'YES', '', None, ''),
 ('POSTALCODE', 'text', 'YES', '', None, ''),
 ('COUNTRY', 'text', 'YES', '', None, ''),
 ('TERRITORY', 'text', 'YES', '', None, ''),
 ('CONTACTLASTNAME', 'text', 'YES', '', None, ''),
 ('CONTACTFIRSTNAME', 'text', 'YES', '', None, ''),
 ('DEALSIZE', 'text', 'YES', '', None, ''),
 ('ORDER_DATE', 'date', 'YES', '', None, '')]

## Checking for Unique Values

In [10]:
%%sql

SELECT DISTINCT STATUS
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
6 rows affected.

[('Shipped',),
 ('Disputed',),
 ('In Process',),
 ('Cancelled',),
 ('On Hold',),
 ('Resolved',)]

In [11]:
%%sql

SELECT DISTINCT TERRITORY
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
4 rows affected.

[('NA',), ('EMEA',), ('APAC',), ('Japan',)]

In [12]:
%%sql

SELECT DISTINCT COUNTRY
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
19 rows affected.

[('USA',),
 ('France',),
 ('Norway',),
 ('Australia',),
 ('Finland',),
 ('Austria',),
 ('UK',),
 ('Spain',),
 ('Sweden',),
 ('Singapore',),
 ('Canada',),
 ('Japan',),
 ('Italy',),
 ('Denmark',),
 ('Belgium',),
 ('Philippines',),
 ('Germany',),
 ('Switzerland',),
 ('Ireland',)]

In [13]:
%%sql

SELECT DISTINCT DEALSIZE
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
3 rows affected.

[('Small',), ('Medium',), ('Large',)]

In [14]:
%%sql

SELECT DISTINCT year_id
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
3 rows affected.

[(2003,), (2004,), (2005,)]

In [15]:
%%sql

SELECT DISTINCT PRODUCTLINE
FROM sales_data_sample;

 * mysql://root:***@localhost/sales_data
7 rows affected.

[('Motorcycles',),
 ('Classic Cars',),
 ('Trucks and Buses',),
 ('Vintage Cars',),
 ('Planes',),
 ('Ships',),
 ('Trains',)]

## Analysis

In [16]:
%%sql

#Revenue by productline
select PRODUCTLINE, sum(sales) Revenue
from sales_data_sample
group by PRODUCTLINE
order by 2 desc

 * mysql://root:***@localhost/sales_data
7 rows affected.

[('Classic Cars', 3919615.659999997),
 ('Vintage Cars', 1903150.8399999992),
 ('Motorcycles', 1166388.3400000003),
 ('Trucks and Buses', 1127789.8399999996),
 ('Planes', 975003.5700000001),
 ('Ships', 714437.13),
 ('Trains', 226243.46999999997)]

In [17]:
%%sql

#Revenue by year
select year_id, sum(sales) Revenue
from sales_data_sample
group by year_id
order by 2 desc

 * mysql://root:***@localhost/sales_data
3 rows affected.

[(2004, 4724162.599999997), (2003, 3516979.540000001), (2005, 1791486.71)]

Analysing the monthly sales for each year to see which month did best and what product sold the most in the best performing month

In [18]:
%%sql

# YEAR 2004
select MONTH_ID, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2004
group by MONTH_ID
order by 2 desc

 * mysql://root:***@localhost/sales_data
12 rows affected.

[(11, 1089048.0100000005, 301),
 (10, 552924.25, 159),
 (8, 461501.2700000001, 133),
 (12, 372802.6599999999, 110),
 (7, 327144.0899999998, 91),
 (9, 320750.91000000003, 95),
 (1, 316577.4200000001, 91),
 (2, 311419.5299999999, 86),
 (6, 286674.22, 85),
 (5, 273438.3900000001, 74),
 (4, 206148.12000000008, 64),
 (3, 205733.72999999992, 56)]

November seems to be the best month, what product did they sell in November?

In [19]:
%%sql

select MONTH_ID,PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2004 and MONTH_ID = 11
group by MONTH_ID, PRODUCTLINE
order by 3 desc

 * mysql://root:***@localhost/sales_data
7 rows affected.

[(11, 'Classic Cars', 372231.8899999999, 105),
 (11, 'Vintage Cars', 233990.33999999997, 65),
 (11, 'Motorcycles', 151711.85999999996, 39),
 (11, 'Trucks and Buses', 123811.14000000001, 29),
 (11, 'Planes', 121130.7, 36),
 (11, 'Ships', 63900.85, 21),
 (11, 'Trains', 22271.23, 6)]

In [20]:
%%sql

#YEAR 2005
select MONTH_ID, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2005
group by MONTH_ID
order by 2 desc

 * mysql://root:***@localhost/sales_data
5 rows affected.

[(5, 457861.05999999965, 120),
 (3, 374262.7599999999, 106),
 (2, 358186.18000000005, 97),
 (1, 339543.42, 99),
 (4, 261633.29000000007, 56)]

In [21]:
%%sql

select MONTH_ID,PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2003 and MONTH_ID = 5
group by MONTH_ID, PRODUCTLINE
order by 3 desc

 * mysql://root:***@localhost/sales_data
4 rows affected.

[(5, 'Classic Cars', 98179.47999999998, 28),
 (5, 'Vintage Cars', 47033.58000000001, 16),
 (5, 'Trucks and Buses', 25362.73, 7),
 (5, 'Motorcycles', 22097.32, 7)]

In [22]:
%%sql

select MONTH_ID, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2003
group by MONTH_ID
order by 2 desc

 * mysql://root:***@localhost/sales_data
12 rows affected.

[(11, 1029837.6600000001, 296),
 (10, 568290.97, 158),
 (9, 263973.36, 76),
 (12, 261876.46000000005, 70),
 (4, 201609.55000000002, 58),
 (8, 197809.3, 58),
 (5, 192673.11, 58),
 (7, 187731.87999999998, 50),
 (3, 174504.9, 50),
 (6, 168082.55999999997, 46),
 (2, 140836.19000000003, 41),
 (1, 129753.6, 39)]

In [23]:
%%sql

select MONTH_ID,PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2003 and MONTH_ID = 11
group by MONTH_ID, PRODUCTLINE
order by 3 desc

 * mysql://root:***@localhost/sales_data
7 rows affected.

[(11, 'Classic Cars', 452924.3699999999, 114),
 (11, 'Vintage Cars', 184673.39999999997, 66),
 (11, 'Trucks and Buses', 127062.92000000003, 33),
 (11, 'Motorcycles', 109345.5, 31),
 (11, 'Ships', 79174.8, 27),
 (11, 'Planes', 54133.270000000004, 16),
 (11, 'Trains', 22523.4, 9)]

Classic cars followed by Vintage cars are the best performing product

Analysing the year sales for each year to see which month did best and what product sold the most in the best performing month

## Revenue by country

In [24]:
%%sql

select country, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2003
group by country
order by 2 desc

 * mysql://root:***@localhost/sales_data
16 rows affected.

[('USA', 1305147.8799999997, 367),
 ('Spain', 405343.3899999999, 116),
 ('France', 312761.42, 87),
 ('Australia', 253134.45000000004, 77),
 ('Norway', 196532.60000000006, 53),
 ('UK', 180421.55, 52),
 ('Singapore', 165686.20000000007, 41),
 ('Italy', 140928.77000000005, 44),
 ('Finland', 111154.51, 32),
 ('Denmark', 99192.72000000002, 27),
 ('Austria', 82117.87999999999, 26),
 ('Philippines', 78086.98000000001, 22),
 ('Germany', 70053.31, 21),
 ('Sweden', 58459.92, 18),
 ('Canada', 54609.5, 15),
 ('Belgium', 3348.46, 2)]

In [25]:
%%sql

select country, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2004
group by country
order by 2 desc

 * mysql://root:***@localhost/sales_data
19 rows affected.

[('USA', 1685470.689999999, 474),
 ('France', 555198.7000000001, 163),
 ('Spain', 483545.3599999999, 137),
 ('UK', 257656.09999999998, 83),
 ('Australia', 232396.68000000008, 65),
 ('Italy', 192235.6, 55),
 ('Germany', 150418.78, 41),
 ('Japan', 149422.46999999997, 42),
 ('Canada', 135776.09, 46),
 ('Denmark', 120431.56, 33),
 ('Sweden', 119947.56999999999, 31),
 ('Switzerland', 117713.55999999998, 31),
 ('Singapore', 116039.03000000001, 35),
 ('Norway', 110931.09999999999, 32),
 ('Finland', 91575.68999999999, 22),
 ('Belgium', 80024.05000000002, 23),
 ('Ireland', 57756.43, 16),
 ('Austria', 51694.39000000001, 12),
 ('Philippines', 15928.75, 4)]

In [26]:
%%sql

select country, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where YEAR_ID = 2005
group by country
order by 2 desc

 * mysql://root:***@localhost/sales_data
14 rows affected.

[('USA', 637364.2600000001, 163),
 ('Spain', 326798.17000000004, 89),
 ('France', 242956.4, 64),
 ('Australia', 145091.97, 43),
 ('Finland', 126851.70999999998, 38),
 ('Austria', 68250.26000000001, 17),
 ('Italy', 41509.94, 14),
 ('UK', 40802.810000000005, 9),
 ('Japan', 38745.34, 10),
 ('Canada', 33692.97, 9),
 ('Sweden', 31606.72, 8),
 ('Denmark', 26012.870000000003, 3),
 ('Belgium', 25040.11, 8),
 ('Singapore', 6763.18, 3)]

The USA, Spain and France are the top country on the revenue chart. we would futher analyse what product they are buying the most

In [27]:
%%sql

select PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where COUNTRY = "Spain"
group by  PRODUCTLINE
order by 2 desc

 * mysql://root:***@localhost/sales_data
7 rows affected.

[('Classic Cars', 476165.1499999998, 120),
 ('Vintage Cars', 229514.51, 74),
 ('Trucks and Buses', 177556.78000000003, 46),
 ('Ships', 124459.96999999997, 39),
 ('Planes', 89985.51, 30),
 ('Motorcycles', 74634.82000000002, 19),
 ('Trains', 43370.17999999999, 14)]

In [28]:
%%sql

select PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where COUNTRY = "Singapore"
group by  PRODUCTLINE
order by 2 desc

 * mysql://root:***@localhost/sales_data
6 rows affected.

[('Classic Cars', 132890.44, 32),
 ('Trucks and Buses', 89027.68000000002, 23),
 ('Vintage Cars', 34960.46, 14),
 ('Ships', 14155.519999999999, 4),
 ('Trains', 13278.71, 5),
 ('Motorcycles', 4175.6, 1)]

In [29]:
%%sql

select PRODUCTLINE, sum(sales) Revenue, count(ORDERNUMBER) Frequency
from sales_data_sample
where COUNTRY = "France"
group by  PRODUCTLINE
order by 2 desc

 * mysql://root:***@localhost/sales_data
7 rows affected.

[('Classic Cars', 388951.2000000002, 98),
 ('Motorcycles', 226390.30999999997, 68),
 ('Vintage Cars', 176609.81, 58),
 ('Trucks and Buses', 116982.22000000003, 30),
 ('Planes', 108155.51000000002, 32),
 ('Ships', 66486.67, 21),
 ('Trains', 27340.8, 7)]

## Who is our best Customer? (RFM analysis)

In [30]:
%%sql

select CUSTOMERNAME,
    sum(sales) MonetaryValue,
	avg(sales) AvgMonetaryValue,
	count(ORDERNUMBER) Frequency,
	TIMESTAMPDIFF(DAY, MAX(ORDER_DATE), (SELECT max(ORDER_DATE) FROM sales_data_sample)) Recency
from sales_data_sample
group by CUSTOMERNAME

 * mysql://root:***@localhost/sales_data
92 rows affected.

[('Land of Toys Inc.', 164069.44000000003, 3348.3559183673474, 49, 197),
 ('Reims Collectables', 135042.94, 3293.7302439024393, 41, 62),
 ('Lyon Souveniers', 78570.34000000001, 3928.5170000000007, 20, 75),
 ('Toys4GrownUps.com', 104561.95999999998, 3485.398666666666, 30, 139),
 ('Corporate Gift Ideas Co.', 149882.49999999997, 3655.6707317073165, 41, 97),
 ('Technics Stores Inc.', 120783.07, 3552.443235294118, 34, 146),
 ('Daedalus Designs Imports', 69052.41, 3452.6205, 20, 465),
 ('Herkku Gifts', 111640.28, 3849.6648275862067, 29, 270),
 ('Mini Wheels Co.', 74476.18, 3546.4847619047614, 21, 194),
 ('Auto Canal Petit', 93170.65999999999, 3450.7651851851847, 27, 54),
 ('Australian Collectors, Co.', 200995.40999999997, 3654.4619999999995, 55, 183),
 ('Vitachrome Inc.', 88041.26000000001, 3521.6504000000004, 25, 207),
 ('Tekni Collectables Inc.', 83228.19, 3963.247142857143, 21, 58),
 ('Gift Depot Inc.', 101894.79000000001, 4075.7916000000005, 25, 26),
 ('La Rochelle Gifts', 180124.9, 3398.5830188679242, 53, 0),
 ("Marta's Replicas Co.", 103080.37999999999, 3817.7918518518513, 27, 230),
 ('Toys of Finland, Co.', 111250.37999999996, 3708.3459999999986, 30, 111),
 ('Baane Mini Imports', 116599.19, 3643.7246875, 32, 207),
 ('Diecast Classics Inc.', 122138.14000000001, 3939.9400000000005, 31, 1),
 ('Salzburg Collectables', 149798.63, 3744.9657500000003, 40, 14),
 ('Souveniers And Things Co.', 151570.98000000004, 3295.021304347827, 46, 2),
 ('FunGiftIdeas.com', 98923.73000000003, 3804.758846153847, 26, 89),
 ('UK Collectables, Ltd.', 118008.26999999999, 4069.250689655172, 29, 53),
 ('Euro Shopping Channel', 912294.1100000002, 3522.371081081082, 259, 0),
 ('Volvo Model Replicas, Co', 75754.88, 3987.0989473684212, 19, 193),
 ('Corrida Auto Replicas, Ltd', 120615.28, 3769.2275, 32, 211),
 ('Dragon Souveniers, Ltd.', 172989.68000000008, 4023.01581395349, 43, 90),
 ('Classic Legends Inc.', 77795.2, 3889.7599999999998, 20, 191),
 ('Australian Gift Network, Co', 59469.11999999999, 3964.6079999999993, 15, 118),
 ('Classic Gift Ideas, Inc', 67506.96999999999, 3214.6176190476185, 21, 229),
 ('Saveley & Henriot, Co.', 142874.25000000003, 3484.7378048780497, 41, 455),
 ('Canadian Gift Exchange Network', 75238.92, 3419.950909090909, 22, 221),
 ('West Coast Collectables Co.', 46084.63999999999, 3544.972307692307, 13, 488),
 ('Cambridge Collectables Co.', 36163.619999999995, 3287.6018181818176, 11, 388),
 ('Super Scale Inc.', 79472.07, 4674.827647058824, 17, 392),
 ('Tokyo Collectables, Ltd', 120562.73999999996, 3767.585624999999, 32, 39),
 ('Amica Models & Co.', 94117.26000000002, 3619.8946153846164, 26, 264),
 ('Scandinavian Gift Ideas', 134259.33000000002, 3533.1402631578953, 38, 89),
 ('Auto Assoc. & Cie.', 64834.32000000001, 3601.906666666667, 18, 232),
 ('Mini Gifts Distributors Ltd.', 654858.06, 3638.1003333333338, 180, 2),
 ('Online Diecast Creations Co.', 131685.30000000002, 3873.09705882353, 34, 208),
 ('Collectables For Less Inc.', 81577.98, 3399.0825, 24, 131),
 ("Anna's Decorations, Ltd", 153996.13000000003, 3347.7419565217397, 46, 83),
 ('Quebec Home Shopping Network', 74204.79, 3372.9449999999997, 22, 30),
 ('Osaka Souveniers Co.', 67605.07, 3380.2535000000003, 20, 413),
 ('Motor Mint Distributors Inc.', 83682.16, 3638.3547826086956, 23, 195),
 ('Atelier graphique', 24179.96, 3454.2799999999997, 7, 187),
 ('Mini Classics', 85555.98999999998, 3290.614999999999, 26, 228),
 ('Danish Wholesale Imports', 145041.6, 4028.9333333333334, 36, 46),
 ('Stylish Desk Decors, Co.', 88804.5, 3415.5576923076924, 26, 179),
 ('Mini Creations Ltd.', 108951.13, 3112.8894285714287, 35, 144),
 ('Alpha Cognac', 70488.44, 3524.422, 20, 64),
 ('Double Decker Gift Stores, Ltd', 36019.04, 3001.5866666666666, 12, 495),
 ('Enaco Distributors', 78411.86000000002, 3409.2113043478266, 23, 188),
 ("Men 'R' US Retailers, Ltd.", 48048.46, 3432.032857142857, 14, 508),
 ('Collectable Mini Designs Co.', 87489.22999999998, 3499.5691999999995, 25, 460),
 ('Petit Auto', 74972.52, 2998.9008000000003, 25, 1),
 ('Royal Canadian Collectables, Ltd.', 74634.84999999999, 2870.5711538461537, 26, 284),
 ('Gifts4AllAges.com', 83209.88, 3200.38, 26, 25),
 ('giftsbymail.co.uk', 78240.83999999998, 3009.2630769230764, 26, 211),
 ('Oulu Toy Supplies, Inc.', 104370.38, 3261.574375, 32, 120),
 ('The Sharp Gifts Warehouse', 160010.26999999996, 4000.256749999999, 40, 39),
 ("La Corne D'abondance, Co.", 97203.68000000001, 4226.24695652174, 23, 192),
 ('Mini Auto Werke', 52263.899999999994, 3484.2599999999998, 15, 82),
 ('Diecast Collectables', 70859.78, 3936.6544444444444, 18, 400),
 ('Handji Gifts& Co', 115498.73000000001, 3208.298055555556, 36, 38),
 ('Cruz & Sons Co.', 94015.73, 3615.9896153846153, 26, 196),
 ('Marseille Mini Autos', 74936.14, 2997.4456, 25, 145),
 ('Toms Spezialitten, Ltd', 100306.58, 3857.9453846153847, 26, 227),
 ('Vida Sport, Ltd', 117713.55999999998, 3797.211612903225, 31, 274),
 ("L'ordine Souveniers", 142601.33000000002, 3656.4443589743596, 39, 21),
 ('Online Mini Collectables', 57197.95999999999, 3813.1973333333326, 15, 263),
 ('Blauer See Auto, Co.', 85171.58999999998, 3871.4359090909084, 22, 207),
 ('Suominen Souveniers', 113961.14999999997, 3798.704999999999, 30, 145),
 ('Muscle Machine Inc', 197736.93999999997, 4119.519583333333, 48, 181),
 ('Clover Collections, Co.', 57756.43, 3609.776875, 16, 257),
 ('CAF Imports', 49642.05, 3818.619230769231, 13, 438),
 ('AV Stores, Co.', 157807.80999999997, 3094.270784313725, 51, 195),
 ('Heintze Collectables', 100595.54999999999, 3725.7611111111105, 27, 221),
 ('Microscale Inc.', 33144.93000000001, 3314.493000000001, 10, 209),
 ('Boards & Toys Co.', 9129.349999999999, 3043.1166666666663, 3, 112),
 ('Iberia Gift Imports, Corp.', 54723.62, 3648.2413333333334, 15, 237),
 ('Signal Collectibles Ltd.', 50218.51000000001, 3347.9006666666673, 15, 476),
 ('Mini Caravy', 80438.48, 4233.604210526316, 19, 47),
 ('Signal Gift Stores', 82751.08000000002, 2853.48551724138, 29, 183),
 ('Norway Gifts By Mail, Co.', 79224.23, 3301.009583333333, 24, 283),
 ('Rovelli Gifts', 137955.72000000003, 2874.077500000001, 48, 200),
 ('Australian Collectables, Ltd', 64591.46000000001, 2808.3243478260874, 23, 22),
 ('Gift Ideas Corp.', 57294.420000000006, 3015.4957894736845, 19, 178),
 ('Bavarian Collectables Imports, Co.', 34993.92, 2499.565714285714, 14, 258),
 ('Royale Belge', 33440.1, 4180.0125, 8, 141),
 ('Auto-Moto Classics Inc.', 26479.260000000002, 3309.9075000000003, 8, 179)]

## Grouping the customers

In [31]:
%%sql

-- Drop table if it exists
DROP TABLE IF EXISTS rfm_temp;

-- Create RFM calculations and store in a temporary table
CREATE TEMPORARY TABLE rfm_temp AS
WITH rfm AS (
    SELECT CUSTOMERNAME,
        SUM(sales) AS MonetaryValue,
        AVG(sales) AS AvgMonetaryValue,
        COUNT(ORDERNUMBER) AS Frequency,
        DATEDIFF(CURDATE(), MAX(ORDER_DATE)) AS Recency
    FROM sales_data_sample
    GROUP BY CUSTOMERNAME
)
SELECT r.*,
    NTILE(4) OVER (ORDER BY Recency) AS rfm_recency,
    NTILE(4) OVER (ORDER BY Frequency) AS rfm_frequency,
    NTILE(4) OVER (ORDER BY MonetaryValue) AS rfm_monetary
FROM rfm r;

 * mysql://root:***@localhost/sales_data
0 rows affected.
92 rows affected.

[]

In [32]:
%%sql

-- View the data in the rfm_temp table
SELECT * FROM rfm_temp;

 * mysql://root:***@localhost/sales_data
92 rows affected.

[('Boards & Toys Co.', 9129.349999999999, 3043.1166666666663, 3, 7352, 2, 1, 1),
 ('Atelier graphique', 24179.96, 3454.2799999999997, 7, 7427, 3, 1, 1),
 ('Auto-Moto Classics Inc.', 26479.260000000002, 3309.9075000000003, 8, 7419, 2, 1, 1),
 ('Microscale Inc.', 33144.93000000001, 3314.493000000001, 10, 7449, 3, 1, 1),
 ('Royale Belge', 33440.1, 4180.0125, 8, 7381, 2, 1, 1),
 ('Bavarian Collectables Imports, Co.', 34993.92, 2499.565714285714, 14, 7498, 4, 1, 1),
 ('Double Decker Gift Stores, Ltd', 36019.04, 3001.5866666666666, 12, 7735, 4, 1, 1),
 ('Cambridge Collectables Co.', 36163.619999999995, 3287.6018181818176, 11, 7628, 4, 1, 1),
 ('West Coast Collectables Co.', 46084.63999999999, 3544.972307692307, 13, 7728, 4, 1, 1),
 ("Men 'R' US Retailers, Ltd.", 48048.46, 3432.032857142857, 14, 7748, 4, 1, 1),
 ('CAF Imports', 49642.05, 3818.619230769231, 13, 7678, 4, 1, 1),
 ('Signal Collectibles Ltd.', 50218.51000000001, 3347.9006666666673, 15, 7716, 4, 1, 1),
 ('Mini Auto Werke', 52263.899999999994, 3484.2599999999998, 15, 7322, 2, 1, 1),
 ('Iberia Gift Imports, Corp.', 54723.62, 3648.2413333333334, 15, 7477, 4, 1, 1),
 ('Online Mini Collectables', 57197.95999999999, 3813.1973333333326, 15, 7503, 4, 1, 1),
 ('Gift Ideas Corp.', 57294.420000000006, 3015.4957894736845, 19, 7418, 2, 1, 1),
 ('Clover Collections, Co.', 57756.43, 3609.776875, 16, 7497, 4, 1, 1),
 ('Australian Gift Network, Co', 59469.11999999999, 3964.6079999999993, 15, 7358, 2, 1, 1),
 ('Australian Collectables, Ltd', 64591.46000000001, 2808.3243478260874, 23, 7262, 1, 2, 1),
 ('Auto Assoc. & Cie.', 64834.32000000001, 3601.906666666667, 18, 7472, 4, 1, 1),
 ('Classic Gift Ideas, Inc', 67506.96999999999, 3214.6176190476185, 21, 7469, 3, 2, 1),
 ('Osaka Souveniers Co.', 67605.07, 3380.2535000000003, 20, 7653, 4, 2, 1),
 ('Daedalus Designs Imports', 69052.41, 3452.6205, 20, 7705, 4, 2, 1),
 ('Alpha Cognac', 70488.44, 3524.422, 20, 7304, 1, 2, 2),
 ('Diecast Collectables', 70859.78, 3936.6544444444444, 18, 7640, 4, 1, 2),
 ('Quebec Home Shopping Network', 74204.79, 3372.9449999999997, 22, 7270, 1, 2, 2),
 ('Mini Wheels Co.', 74476.18, 3546.4847619047614, 21, 7434, 3, 2, 2),
 ('Royal Canadian Collectables, Ltd.', 74634.84999999999, 2870.5711538461537, 26, 7524, 4, 3, 2),
 ('Marseille Mini Autos', 74936.14, 2997.4456, 25, 7385, 2, 2, 2),
 ('Petit Auto', 74972.52, 2998.9008000000003, 25, 7241, 1, 2, 2),
 ('Canadian Gift Exchange Network', 75238.92, 3419.950909090909, 22, 7461, 3, 2, 2),
 ('Volvo Model Replicas, Co', 75754.88, 3987.0989473684212, 19, 7433, 3, 1, 2),
 ('Classic Legends Inc.', 77795.2, 3889.7599999999998, 20, 7431, 3, 2, 2),
 ('giftsbymail.co.uk', 78240.83999999998, 3009.2630769230764, 26, 7451, 3, 3, 2),
 ('Enaco Distributors', 78411.86000000002, 3409.2113043478266, 23, 7428, 3, 2, 2),
 ('Lyon Souveniers', 78570.34000000001, 3928.5170000000007, 20, 7315, 1, 2, 2),
 ('Norway Gifts By Mail, Co.', 79224.23, 3301.009583333333, 24, 7523, 4, 2, 2),
 ('Super Scale Inc.', 79472.07, 4674.827647058824, 17, 7632, 4, 1, 2),
 ('Mini Caravy', 80438.48, 4233.604210526316, 19, 7287, 1, 1, 2),
 ('Collectables For Less Inc.', 81577.98, 3399.0825, 24, 7371, 2, 2, 2),
 ('Signal Gift Stores', 82751.08000000002, 2853.48551724138, 29, 7423, 2, 3, 2),
 ('Gifts4AllAges.com', 83209.88, 3200.38, 26, 7265, 1, 2, 2),
 ('Tekni Collectables Inc.', 83228.19, 3963.247142857143, 21, 7298, 1, 2, 2),
 ('Motor Mint Distributors Inc.', 83682.16, 3638.3547826086956, 23, 7435, 3, 2, 2),
 ('Blauer See Auto, Co.', 85171.58999999998, 3871.4359090909084, 22, 7447, 3, 2, 2),
 ('Mini Classics', 85555.98999999998, 3290.614999999999, 26, 7468, 3, 3, 2),
 ('Collectable Mini Designs Co.', 87489.22999999998, 3499.5691999999995, 25, 7700, 4, 2, 3),
 ('Vitachrome Inc.', 88041.26000000001, 3521.6504000000004, 25, 7447, 3, 2, 3),
 ('Stylish Desk Decors, Co.', 88804.5, 3415.5576923076924, 26, 7419, 2, 3, 3),
 ('Auto Canal Petit', 93170.65999999999, 3450.7651851851847, 27, 7294, 1, 3, 3),
 ('Cruz & Sons Co.', 94015.73, 3615.9896153846153, 26, 7436, 3, 3, 3),
 ('Amica Models & Co.', 94117.26000000002, 3619.8946153846164, 26, 7504, 4, 3, 3),
 ("La Corne D'abondance, Co.", 97203.68000000001, 4226.24695652174, 23, 7432, 3, 2, 3),
 ('FunGiftIdeas.com', 98923.73000000003, 3804.758846153847, 26, 7329, 2, 3, 3),
 ('Toms Spezialitten, Ltd', 100306.58, 3857.9453846153847, 26, 7467, 3, 3, 3),
 ('Heintze Collectables', 100595.54999999999, 3725.7611111111105, 27, 7461, 3, 3, 3),
 ('Gift Depot Inc.', 101894.79000000001, 4075.7916000000005, 25, 7266, 1, 2, 3),
 ("Marta's Replicas Co.", 103080.37999999999, 3817.7918518518513, 27, 7470, 4, 3, 3),
 ('Oulu Toy Supplies, Inc.', 104370.38, 3261.574375, 32, 7360, 2, 3, 3),
 ('Toys4GrownUps.com', 104561.95999999998, 3485.398666666666, 30, 7379, 2, 3, 3),
 ('Mini Creations Ltd.', 108951.13, 3112.8894285714287, 35, 7384, 2, 4, 3),
 ('Toys of Finland, Co.', 111250.37999999996, 3708.3459999999986, 30, 7351, 2, 3, 3),
 ('Herkku Gifts', 111640.28, 3849.6648275862067, 29, 7510, 4, 3, 3),
 ('Suominen Souveniers', 113961.14999999997, 3798.704999999999, 30, 7385, 2, 3, 3),
 ('Handji Gifts& Co', 115498.73000000001, 3208.298055555556, 36, 7278, 1, 4, 3),
 ('Baane Mini Imports', 116599.19, 3643.7246875, 32, 7447, 3, 3, 3),
 ('Vida Sport, Ltd', 117713.55999999998, 3797.211612903225, 31, 7514, 4, 3, 3),
 ('UK Collectables, Ltd.', 118008.26999999999, 4069.250689655172, 29, 7293, 1, 3, 3),
 ('Tokyo Collectables, Ltd', 120562.73999999996, 3767.585624999999, 32, 7279, 1, 3, 3),
 ('Corrida Auto Replicas, Ltd', 120615.28, 3769.2275, 32, 7451, 3, 3, 4),
 ('Technics Stores Inc.', 120783.07, 3552.443235294118, 34, 7386, 2, 4, 4),
 ('Diecast Classics Inc.', 122138.14000000001, 3939.9400000000005, 31, 7241, 1, 3, 4),
 ('Online Diecast Creations Co.', 131685.30000000002, 3873.09705882353, 34, 7448, 3, 4, 4),
 ('Scandinavian Gift Ideas', 134259.33000000002, 3533.1402631578953, 38, 7329, 2, 4, 4),
 ('Reims Collectables', 135042.94, 3293.7302439024393, 41, 7302, 1, 4, 4),
 ('Rovelli Gifts', 137955.72000000003, 2874.077500000001, 48, 7440, 3, 4, 4),
 ("L'ordine Souveniers", 142601.33000000002, 3656.4443589743596, 39, 7261, 1, 4, 4),
 ('Saveley & Henriot, Co.', 142874.25000000003, 3484.7378048780497, 41, 7695, 4, 4, 4),
 ('Danish Wholesale Imports', 145041.6, 4028.9333333333334, 36, 7286, 1, 4, 4),
 ('Salzburg Collectables', 149798.63, 3744.9657500000003, 40, 7254, 1, 4, 4),
 ('Corporate Gift Ideas Co.', 149882.49999999997, 3655.6707317073165, 41, 7337, 2, 4, 4),
 ('Souveniers And Things Co.', 151570.98000000004, 3295.021304347827, 46, 7242, 1, 4, 4),
 ("Anna's Decorations, Ltd", 153996.13000000003, 3347.7419565217397, 46, 7323, 2, 4, 4),
 ('AV Stores, Co.', 157807.80999999997, 3094.270784313725, 51, 7435, 3, 4, 4),
 ('The Sharp Gifts Warehouse', 160010.26999999996, 4000.256749999999, 40, 7279, 1, 4, 4),
 ('Land of Toys Inc.', 164069.44000000003, 3348.3559183673474, 49, 7437, 3, 4, 4),
 ('Dragon Souveniers, Ltd.', 172989.68000000008, 4023.01581395349, 43, 7330, 2, 4, 4),
 ('La Rochelle Gifts', 180124.9, 3398.5830188679242, 53, 7240, 1, 4, 4),
 ('Muscle Machine Inc', 197736.93999999997, 4119.519583333333, 48, 7421, 2, 4, 4),
 ('Australian Collectors, Co.', 200995.40999999997, 3654.4619999999995, 55, 7423, 2, 4, 4),
 ('Mini Gifts Distributors Ltd.', 654858.06, 3638.1003333333338, 180, 7242, 1, 4, 4),
 ('Euro Shopping Channel', 912294.1100000002, 3522.371081081082, 259, 7240, 1, 4, 4)]

In [33]:
%%sql

-- Add RFM Cell and RFM Cell String to the temporary table
ALTER TABLE rfm_temp
ADD COLUMN rfm_cell INT,
ADD COLUMN rfm_cell_string VARCHAR(10);

UPDATE rfm_temp
SET rfm_cell = (rfm_recency + rfm_frequency + rfm_monetary),
    rfm_cell_string = CONCAT(CAST(rfm_recency AS CHAR), CAST(rfm_frequency AS CHAR), CAST(rfm_monetary AS CHAR));

 * mysql://root:***@localhost/sales_data
92 rows affected.
92 rows affected.

[]

In [34]:
%%sql

-- View the data in the rfm_temp table
SELECT * FROM rfm_temp;

 * mysql://root:***@localhost/sales_data
92 rows affected.

[('Boards & Toys Co.', 9129.349999999999, 3043.1166666666663, 3, 7352, 2, 1, 1, 4, '211'),
 ('Atelier graphique', 24179.96, 3454.2799999999997, 7, 7427, 3, 1, 1, 5, '311'),
 ('Auto-Moto Classics Inc.', 26479.260000000002, 3309.9075000000003, 8, 7419, 2, 1, 1, 4, '211'),
 ('Microscale Inc.', 33144.93000000001, 3314.493000000001, 10, 7449, 3, 1, 1, 5, '311'),
 ('Royale Belge', 33440.1, 4180.0125, 8, 7381, 2, 1, 1, 4, '211'),
 ('Bavarian Collectables Imports, Co.', 34993.92, 2499.565714285714, 14, 7498, 4, 1, 1, 6, '411'),
 ('Double Decker Gift Stores, Ltd', 36019.04, 3001.5866666666666, 12, 7735, 4, 1, 1, 6, '411'),
 ('Cambridge Collectables Co.', 36163.619999999995, 3287.6018181818176, 11, 7628, 4, 1, 1, 6, '411'),
 ('West Coast Collectables Co.', 46084.63999999999, 3544.972307692307, 13, 7728, 4, 1, 1, 6, '411'),
 ("Men 'R' US Retailers, Ltd.", 48048.46, 3432.032857142857, 14, 7748, 4, 1, 1, 6, '411'),
 ('CAF Imports', 49642.05, 3818.619230769231, 13, 7678, 4, 1, 1, 6, '411'),
 ('Signal Collectibles Ltd.', 50218.51000000001, 3347.9006666666673, 15, 7716, 4, 1, 1, 6, '411'),
 ('Mini Auto Werke', 52263.899999999994, 3484.2599999999998, 15, 7322, 2, 1, 1, 4, '211'),
 ('Iberia Gift Imports, Corp.', 54723.62, 3648.2413333333334, 15, 7477, 4, 1, 1, 6, '411'),
 ('Online Mini Collectables', 57197.95999999999, 3813.1973333333326, 15, 7503, 4, 1, 1, 6, '411'),
 ('Gift Ideas Corp.', 57294.420000000006, 3015.4957894736845, 19, 7418, 2, 1, 1, 4, '211'),
 ('Clover Collections, Co.', 57756.43, 3609.776875, 16, 7497, 4, 1, 1, 6, '411'),
 ('Australian Gift Network, Co', 59469.11999999999, 3964.6079999999993, 15, 7358, 2, 1, 1, 4, '211'),
 ('Australian Collectables, Ltd', 64591.46000000001, 2808.3243478260874, 23, 7262, 1, 2, 1, 4, '121'),
 ('Auto Assoc. & Cie.', 64834.32000000001, 3601.906666666667, 18, 7472, 4, 1, 1, 6, '411'),
 ('Classic Gift Ideas, Inc', 67506.96999999999, 3214.6176190476185, 21, 7469, 3, 2, 1, 6, '321'),
 ('Osaka Souveniers Co.', 67605.07, 3380.2535000000003, 20, 7653, 4, 2, 1, 7, '421'),
 ('Daedalus Designs Imports', 69052.41, 3452.6205, 20, 7705, 4, 2, 1, 7, '421'),
 ('Alpha Cognac', 70488.44, 3524.422, 20, 7304, 1, 2, 2, 5, '122'),
 ('Diecast Collectables', 70859.78, 3936.6544444444444, 18, 7640, 4, 1, 2, 7, '412'),
 ('Quebec Home Shopping Network', 74204.79, 3372.9449999999997, 22, 7270, 1, 2, 2, 5, '122'),
 ('Mini Wheels Co.', 74476.18, 3546.4847619047614, 21, 7434, 3, 2, 2, 7, '322'),
 ('Royal Canadian Collectables, Ltd.', 74634.84999999999, 2870.5711538461537, 26, 7524, 4, 3, 2, 9, '432'),
 ('Marseille Mini Autos', 74936.14, 2997.4456, 25, 7385, 2, 2, 2, 6, '222'),
 ('Petit Auto', 74972.52, 2998.9008000000003, 25, 7241, 1, 2, 2, 5, '122'),
 ('Canadian Gift Exchange Network', 75238.92, 3419.950909090909, 22, 7461, 3, 2, 2, 7, '322'),
 ('Volvo Model Replicas, Co', 75754.88, 3987.0989473684212, 19, 7433, 3, 1, 2, 6, '312'),
 ('Classic Legends Inc.', 77795.2, 3889.7599999999998, 20, 7431, 3, 2, 2, 7, '322'),
 ('giftsbymail.co.uk', 78240.83999999998, 3009.2630769230764, 26, 7451, 3, 3, 2, 8, '332'),
 ('Enaco Distributors', 78411.86000000002, 3409.2113043478266, 23, 7428, 3, 2, 2, 7, '322'),
 ('Lyon Souveniers', 78570.34000000001, 3928.5170000000007, 20, 7315, 1, 2, 2, 5, '122'),
 ('Norway Gifts By Mail, Co.', 79224.23, 3301.009583333333, 24, 7523, 4, 2, 2, 8, '422'),
 ('Super Scale Inc.', 79472.07, 4674.827647058824, 17, 7632, 4, 1, 2, 7, '412'),
 ('Mini Caravy', 80438.48, 4233.604210526316, 19, 7287, 1, 1, 2, 4, '112'),
 ('Collectables For Less Inc.', 81577.98, 3399.0825, 24, 7371, 2, 2, 2, 6, '222'),
 ('Signal Gift Stores', 82751.08000000002, 2853.48551724138, 29, 7423, 2, 3, 2, 7, '232'),
 ('Gifts4AllAges.com', 83209.88, 3200.38, 26, 7265, 1, 2, 2, 5, '122'),
 ('Tekni Collectables Inc.', 83228.19, 3963.247142857143, 21, 7298, 1, 2, 2, 5, '122'),
 ('Motor Mint Distributors Inc.', 83682.16, 3638.3547826086956, 23, 7435, 3, 2, 2, 7, '322'),
 ('Blauer See Auto, Co.', 85171.58999999998, 3871.4359090909084, 22, 7447, 3, 2, 2, 7, '322'),
 ('Mini Classics', 85555.98999999998, 3290.614999999999, 26, 7468, 3, 3, 2, 8, '332'),
 ('Collectable Mini Designs Co.', 87489.22999999998, 3499.5691999999995, 25, 7700, 4, 2, 3, 9, '423'),
 ('Vitachrome Inc.', 88041.26000000001, 3521.6504000000004, 25, 7447, 3, 2, 3, 8, '323'),
 ('Stylish Desk Decors, Co.', 88804.5, 3415.5576923076924, 26, 7419, 2, 3, 3, 8, '233'),
 ('Auto Canal Petit', 93170.65999999999, 3450.7651851851847, 27, 7294, 1, 3, 3, 7, '133'),
 ('Cruz & Sons Co.', 94015.73, 3615.9896153846153, 26, 7436, 3, 3, 3, 9, '333'),
 ('Amica Models & Co.', 94117.26000000002, 3619.8946153846164, 26, 7504, 4, 3, 3, 10, '433'),
 ("La Corne D'abondance, Co.", 97203.68000000001, 4226.24695652174, 23, 7432, 3, 2, 3, 8, '323'),
 ('FunGiftIdeas.com', 98923.73000000003, 3804.758846153847, 26, 7329, 2, 3, 3, 8, '233'),
 ('Toms Spezialitten, Ltd', 100306.58, 3857.9453846153847, 26, 7467, 3, 3, 3, 9, '333'),
 ('Heintze Collectables', 100595.54999999999, 3725.7611111111105, 27, 7461, 3, 3, 3, 9, '333'),
 ('Gift Depot Inc.', 101894.79000000001, 4075.7916000000005, 25, 7266, 1, 2, 3, 6, '123'),
 ("Marta's Replicas Co.", 103080.37999999999, 3817.7918518518513, 27, 7470, 4, 3, 3, 10, '433'),
 ('Oulu Toy Supplies, Inc.', 104370.38, 3261.574375, 32, 7360, 2, 3, 3, 8, '233'),
 ('Toys4GrownUps.com', 104561.95999999998, 3485.398666666666, 30, 7379, 2, 3, 3, 8, '233'),
 ('Mini Creations Ltd.', 108951.13, 3112.8894285714287, 35, 7384, 2, 4, 3, 9, '243'),
 ('Toys of Finland, Co.', 111250.37999999996, 3708.3459999999986, 30, 7351, 2, 3, 3, 8, '233'),
 ('Herkku Gifts', 111640.28, 3849.6648275862067, 29, 7510, 4, 3, 3, 10, '433'),
 ('Suominen Souveniers', 113961.14999999997, 3798.704999999999, 30, 7385, 2, 3, 3, 8, '233'),
 ('Handji Gifts& Co', 115498.73000000001, 3208.298055555556, 36, 7278, 1, 4, 3, 8, '143'),
 ('Baane Mini Imports', 116599.19, 3643.7246875, 32, 7447, 3, 3, 3, 9, '333'),
 ('Vida Sport, Ltd', 117713.55999999998, 3797.211612903225, 31, 7514, 4, 3, 3, 10, '433'),
 ('UK Collectables, Ltd.', 118008.26999999999, 4069.250689655172, 29, 7293, 1, 3, 3, 7, '133'),
 ('Tokyo Collectables, Ltd', 120562.73999999996, 3767.585624999999, 32, 7279, 1, 3, 3, 7, '133'),
 ('Corrida Auto Replicas, Ltd', 120615.28, 3769.2275, 32, 7451, 3, 3, 4, 10, '334'),
 ('Technics Stores Inc.', 120783.07, 3552.443235294118, 34, 7386, 2, 4, 4, 10, '244'),
 ('Diecast Classics Inc.', 122138.14000000001, 3939.9400000000005, 31, 7241, 1, 3, 4, 8, '134'),
 ('Online Diecast Creations Co.', 131685.30000000002, 3873.09705882353, 34, 7448, 3, 4, 4, 11, '344'),
 ('Scandinavian Gift Ideas', 134259.33000000002, 3533.1402631578953, 38, 7329, 2, 4, 4, 10, '244'),
 ('Reims Collectables', 135042.94, 3293.7302439024393, 41, 7302, 1, 4, 4, 9, '144'),
 ('Rovelli Gifts', 137955.72000000003, 2874.077500000001, 48, 7440, 3, 4, 4, 11, '344'),
 ("L'ordine Souveniers", 142601.33000000002, 3656.4443589743596, 39, 7261, 1, 4, 4, 9, '144'),
 ('Saveley & Henriot, Co.', 142874.25000000003, 3484.7378048780497, 41, 7695, 4, 4, 4, 12, '444'),
 ('Danish Wholesale Imports', 145041.6, 4028.9333333333334, 36, 7286, 1, 4, 4, 9, '144'),
 ('Salzburg Collectables', 149798.63, 3744.9657500000003, 40, 7254, 1, 4, 4, 9, '144'),
 ('Corporate Gift Ideas Co.', 149882.49999999997, 3655.6707317073165, 41, 7337, 2, 4, 4, 10, '244'),
 ('Souveniers And Things Co.', 151570.98000000004, 3295.021304347827, 46, 7242, 1, 4, 4, 9, '144'),
 ("Anna's Decorations, Ltd", 153996.13000000003, 3347.7419565217397, 46, 7323, 2, 4, 4, 10, '244'),
 ('AV Stores, Co.', 157807.80999999997, 3094.270784313725, 51, 7435, 3, 4, 4, 11, '344'),
 ('The Sharp Gifts Warehouse', 160010.26999999996, 4000.256749999999, 40, 7279, 1, 4, 4, 9, '144'),
 ('Land of Toys Inc.', 164069.44000000003, 3348.3559183673474, 49, 7437, 3, 4, 4, 11, '344'),
 ('Dragon Souveniers, Ltd.', 172989.68000000008, 4023.01581395349, 43, 7330, 2, 4, 4, 10, '244'),
 ('La Rochelle Gifts', 180124.9, 3398.5830188679242, 53, 7240, 1, 4, 4, 9, '144'),
 ('Muscle Machine Inc', 197736.93999999997, 4119.519583333333, 48, 7421, 2, 4, 4, 10, '244'),
 ('Australian Collectors, Co.', 200995.40999999997, 3654.4619999999995, 55, 7423, 2, 4, 4, 10, '244'),
 ('Mini Gifts Distributors Ltd.', 654858.06, 3638.1003333333338, 180, 7242, 1, 4, 4, 9, '144'),
 ('Euro Shopping Channel', 912294.1100000002, 3522.371081081082, 259, 7240, 1, 4, 4, 9, '144')]

In [35]:
%%sql

-- RFM Segmentation
SELECT CUSTOMERNAME, rfm_recency, rfm_frequency, rfm_monetary, rfm_cell_string,
    CASE
        -- Lost Customers (low frequency and monetary, high recency)
        WHEN rfm_cell_string IN ('111', '112', '121', '123', '132', '211', '114', '141') THEN 'Lost Customer'
        
        -- Big spenders who haven't purchased lately (high monetary, low recency)
        WHEN rfm_cell_string IN ('133', '134', '143', '144', '244', '334', '343', '344') THEN 'Slipping Away (High Value)'

        -- New customers (low frequency but recent)
        WHEN rfm_cell_string IN ('311', '411', '331') THEN 'New Customer'

        -- Potential Churners (medium frequency, medium recency)
        WHEN rfm_cell_string IN ('222', '223', '233', '322', '221', '231') THEN 'Potential Churners'

        -- Active Customers (medium to high frequency, moderate recency)
        WHEN rfm_cell_string IN ('323', '333', '321', '422', '332', '432', '231', '312', '313') THEN 'Active'

        -- Loyal Customers (high frequency, low recency, high monetary)
        WHEN rfm_cell_string IN ('433', '434', '443', '444', '413', '414', '423', '424') THEN 'Loyal Customer'

        -- High Potential (Frequent but spending less)
        WHEN rfm_cell_string IN ('211', '212', '213', '311', '411', '221', '222', '232') THEN 'High Potential'

        -- At Risk (High spenders but not recent)
        WHEN rfm_cell_string IN ('331', '341', '431', '441', '342', '432') THEN 'At Risk'

        -- Champions (Best customers, high in all RFM)
        WHEN rfm_cell_string IN ('111', '112', '113', '122', '132') THEN 'Champion'

        -- Default group for any uncategorized values
        ELSE 'Others'
    END AS rfm_segment
FROM rfm_temp;

 * mysql://root:***@localhost/sales_data
92 rows affected.

[('Boards & Toys Co.', 2, 1, 1, '211', 'Lost Customer'),
 ('Atelier graphique', 3, 1, 1, '311', 'New Customer'),
 ('Auto-Moto Classics Inc.', 2, 1, 1, '211', 'Lost Customer'),
 ('Microscale Inc.', 3, 1, 1, '311', 'New Customer'),
 ('Royale Belge', 2, 1, 1, '211', 'Lost Customer'),
 ('Bavarian Collectables Imports, Co.', 4, 1, 1, '411', 'New Customer'),
 ('Double Decker Gift Stores, Ltd', 4, 1, 1, '411', 'New Customer'),
 ('Cambridge Collectables Co.', 4, 1, 1, '411', 'New Customer'),
 ('West Coast Collectables Co.', 4, 1, 1, '411', 'New Customer'),
 ("Men 'R' US Retailers, Ltd.", 4, 1, 1, '411', 'New Customer'),
 ('CAF Imports', 4, 1, 1, '411', 'New Customer'),
 ('Signal Collectibles Ltd.', 4, 1, 1, '411', 'New Customer'),
 ('Mini Auto Werke', 2, 1, 1, '211', 'Lost Customer'),
 ('Iberia Gift Imports, Corp.', 4, 1, 1, '411', 'New Customer'),
 ('Online Mini Collectables', 4, 1, 1, '411', 'New Customer'),
 ('Gift Ideas Corp.', 2, 1, 1, '211', 'Lost Customer'),
 ('Clover Collections, Co.', 4, 1, 1, '411', 'New Customer'),
 ('Australian Gift Network, Co', 2, 1, 1, '211', 'Lost Customer'),
 ('Australian Collectables, Ltd', 1, 2, 1, '121', 'Lost Customer'),
 ('Auto Assoc. & Cie.', 4, 1, 1, '411', 'New Customer'),
 ('Classic Gift Ideas, Inc', 3, 2, 1, '321', 'Active'),
 ('Osaka Souveniers Co.', 4, 2, 1, '421', 'Others'),
 ('Daedalus Designs Imports', 4, 2, 1, '421', 'Others'),
 ('Alpha Cognac', 1, 2, 2, '122', 'Champion'),
 ('Diecast Collectables', 4, 1, 2, '412', 'Others'),
 ('Quebec Home Shopping Network', 1, 2, 2, '122', 'Champion'),
 ('Mini Wheels Co.', 3, 2, 2, '322', 'Potential Churners'),
 ('Royal Canadian Collectables, Ltd.', 4, 3, 2, '432', 'Active'),
 ('Marseille Mini Autos', 2, 2, 2, '222', 'Potential Churners'),
 ('Petit Auto', 1, 2, 2, '122', 'Champion'),
 ('Canadian Gift Exchange Network', 3, 2, 2, '322', 'Potential Churners'),
 ('Volvo Model Replicas, Co', 3, 1, 2, '312', 'Active'),
 ('Classic Legends Inc.', 3, 2, 2, '322', 'Potential Churners'),
 ('giftsbymail.co.uk', 3, 3, 2, '332', 'Active'),
 ('Enaco Distributors', 3, 2, 2, '322', 'Potential Churners'),
 ('Lyon Souveniers', 1, 2, 2, '122', 'Champion'),
 ('Norway Gifts By Mail, Co.', 4, 2, 2, '422', 'Active'),
 ('Super Scale Inc.', 4, 1, 2, '412', 'Others'),
 ('Mini Caravy', 1, 1, 2, '112', 'Lost Customer'),
 ('Collectables For Less Inc.', 2, 2, 2, '222', 'Potential Churners'),
 ('Signal Gift Stores', 2, 3, 2, '232', 'High Potential'),
 ('Gifts4AllAges.com', 1, 2, 2, '122', 'Champion'),
 ('Tekni Collectables Inc.', 1, 2, 2, '122', 'Champion'),
 ('Motor Mint Distributors Inc.', 3, 2, 2, '322', 'Potential Churners'),
 ('Blauer See Auto, Co.', 3, 2, 2, '322', 'Potential Churners'),
 ('Mini Classics', 3, 3, 2, '332', 'Active'),
 ('Collectable Mini Designs Co.', 4, 2, 3, '423', 'Loyal Customer'),
 ('Vitachrome Inc.', 3, 2, 3, '323', 'Active'),
 ('Stylish Desk Decors, Co.', 2, 3, 3, '233', 'Potential Churners'),
 ('Auto Canal Petit', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Cruz & Sons Co.', 3, 3, 3, '333', 'Active'),
 ('Amica Models & Co.', 4, 3, 3, '433', 'Loyal Customer'),
 ("La Corne D'abondance, Co.", 3, 2, 3, '323', 'Active'),
 ('FunGiftIdeas.com', 2, 3, 3, '233', 'Potential Churners'),
 ('Toms Spezialitten, Ltd', 3, 3, 3, '333', 'Active'),
 ('Heintze Collectables', 3, 3, 3, '333', 'Active'),
 ('Gift Depot Inc.', 1, 2, 3, '123', 'Lost Customer'),
 ("Marta's Replicas Co.", 4, 3, 3, '433', 'Loyal Customer'),
 ('Oulu Toy Supplies, Inc.', 2, 3, 3, '233', 'Potential Churners'),
 ('Toys4GrownUps.com', 2, 3, 3, '233', 'Potential Churners'),
 ('Mini Creations Ltd.', 2, 4, 3, '243', 'Others'),
 ('Toys of Finland, Co.', 2, 3, 3, '233', 'Potential Churners'),
 ('Herkku Gifts', 4, 3, 3, '433', 'Loyal Customer'),
 ('Suominen Souveniers', 2, 3, 3, '233', 'Potential Churners'),
 ('Handji Gifts& Co', 1, 4, 3, '143', 'Slipping Away (High Value)'),
 ('Baane Mini Imports', 3, 3, 3, '333', 'Active'),
 ('Vida Sport, Ltd', 4, 3, 3, '433', 'Loyal Customer'),
 ('UK Collectables, Ltd.', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Tokyo Collectables, Ltd', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Corrida Auto Replicas, Ltd', 3, 3, 4, '334', 'Slipping Away (High Value)'),
 ('Technics Stores Inc.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Diecast Classics Inc.', 1, 3, 4, '134', 'Slipping Away (High Value)'),
 ('Online Diecast Creations Co.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('Scandinavian Gift Ideas', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Reims Collectables', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Rovelli Gifts', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ("L'ordine Souveniers", 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Saveley & Henriot, Co.', 4, 4, 4, '444', 'Loyal Customer'),
 ('Danish Wholesale Imports', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Salzburg Collectables', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Corporate Gift Ideas Co.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Souveniers And Things Co.', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ("Anna's Decorations, Ltd", 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('AV Stores, Co.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('The Sharp Gifts Warehouse', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Land of Toys Inc.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('Dragon Souveniers, Ltd.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('La Rochelle Gifts', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Muscle Machine Inc', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Australian Collectors, Co.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Mini Gifts Distributors Ltd.', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Euro Shopping Channel', 1, 4, 4, '144', 'Slipping Away (High Value)')]

## Put the result in the database

In [36]:
%%sql

CREATE TABLE rfm_customer_seg AS 
SELECT * FROM rfm_temp;

 * mysql://root:***@localhost/sales_data
92 rows affected.

[]

In [37]:
%%sql

CREATE VIEW rfm_segmentation_view AS
SELECT CUSTOMERNAME, rfm_recency, rfm_frequency, rfm_monetary, rfm_cell_string,
    CASE
        WHEN rfm_cell_string IN ('111', '112', '121', '123', '132', '211', '114', '141') THEN 'Lost Customer'
        WHEN rfm_cell_string IN ('133', '134', '143', '144', '244', '334', '343', '344') THEN 'Slipping Away (High Value)'
        WHEN rfm_cell_string IN ('311', '411', '331') THEN 'New Customer'
        WHEN rfm_cell_string IN ('222', '223', '233', '322', '221', '231') THEN 'Potential Churners'
        WHEN rfm_cell_string IN ('323', '333', '321', '422', '332', '432', '231', '312', '313') THEN 'Active'
        WHEN rfm_cell_string IN ('433', '434', '443', '444', '413', '414', '423', '424') THEN 'Loyal Customer'
        WHEN rfm_cell_string IN ('211', '212', '213', '311', '411', '221', '222', '232') THEN 'High Potential'
        WHEN rfm_cell_string IN ('331', '341', '431', '441', '342', '432') THEN 'At Risk'
        WHEN rfm_cell_string IN ('111', '112', '113', '122', '132') THEN 'Champion'
        ELSE 'Others'
    END AS rfm_segment
FROM rfm_customer_seg;

 * mysql://root:***@localhost/sales_data
0 rows affected.

[]

In [38]:
%%sql

SELECT * FROM rfm_segmentation_view;

 * mysql://root:***@localhost/sales_data
92 rows affected.

[('Boards & Toys Co.', 2, 1, 1, '211', 'Lost Customer'),
 ('Atelier graphique', 3, 1, 1, '311', 'New Customer'),
 ('Auto-Moto Classics Inc.', 2, 1, 1, '211', 'Lost Customer'),
 ('Microscale Inc.', 3, 1, 1, '311', 'New Customer'),
 ('Royale Belge', 2, 1, 1, '211', 'Lost Customer'),
 ('Bavarian Collectables Imports, Co.', 4, 1, 1, '411', 'New Customer'),
 ('Double Decker Gift Stores, Ltd', 4, 1, 1, '411', 'New Customer'),
 ('Cambridge Collectables Co.', 4, 1, 1, '411', 'New Customer'),
 ('West Coast Collectables Co.', 4, 1, 1, '411', 'New Customer'),
 ("Men 'R' US Retailers, Ltd.", 4, 1, 1, '411', 'New Customer'),
 ('CAF Imports', 4, 1, 1, '411', 'New Customer'),
 ('Signal Collectibles Ltd.', 4, 1, 1, '411', 'New Customer'),
 ('Mini Auto Werke', 2, 1, 1, '211', 'Lost Customer'),
 ('Iberia Gift Imports, Corp.', 4, 1, 1, '411', 'New Customer'),
 ('Online Mini Collectables', 4, 1, 1, '411', 'New Customer'),
 ('Gift Ideas Corp.', 2, 1, 1, '211', 'Lost Customer'),
 ('Clover Collections, Co.', 4, 1, 1, '411', 'New Customer'),
 ('Australian Gift Network, Co', 2, 1, 1, '211', 'Lost Customer'),
 ('Australian Collectables, Ltd', 1, 2, 1, '121', 'Lost Customer'),
 ('Auto Assoc. & Cie.', 4, 1, 1, '411', 'New Customer'),
 ('Classic Gift Ideas, Inc', 3, 2, 1, '321', 'Active'),
 ('Osaka Souveniers Co.', 4, 2, 1, '421', 'Others'),
 ('Daedalus Designs Imports', 4, 2, 1, '421', 'Others'),
 ('Alpha Cognac', 1, 2, 2, '122', 'Champion'),
 ('Diecast Collectables', 4, 1, 2, '412', 'Others'),
 ('Quebec Home Shopping Network', 1, 2, 2, '122', 'Champion'),
 ('Mini Wheels Co.', 3, 2, 2, '322', 'Potential Churners'),
 ('Royal Canadian Collectables, Ltd.', 4, 3, 2, '432', 'Active'),
 ('Marseille Mini Autos', 2, 2, 2, '222', 'Potential Churners'),
 ('Petit Auto', 1, 2, 2, '122', 'Champion'),
 ('Canadian Gift Exchange Network', 3, 2, 2, '322', 'Potential Churners'),
 ('Volvo Model Replicas, Co', 3, 1, 2, '312', 'Active'),
 ('Classic Legends Inc.', 3, 2, 2, '322', 'Potential Churners'),
 ('giftsbymail.co.uk', 3, 3, 2, '332', 'Active'),
 ('Enaco Distributors', 3, 2, 2, '322', 'Potential Churners'),
 ('Lyon Souveniers', 1, 2, 2, '122', 'Champion'),
 ('Norway Gifts By Mail, Co.', 4, 2, 2, '422', 'Active'),
 ('Super Scale Inc.', 4, 1, 2, '412', 'Others'),
 ('Mini Caravy', 1, 1, 2, '112', 'Lost Customer'),
 ('Collectables For Less Inc.', 2, 2, 2, '222', 'Potential Churners'),
 ('Signal Gift Stores', 2, 3, 2, '232', 'High Potential'),
 ('Gifts4AllAges.com', 1, 2, 2, '122', 'Champion'),
 ('Tekni Collectables Inc.', 1, 2, 2, '122', 'Champion'),
 ('Motor Mint Distributors Inc.', 3, 2, 2, '322', 'Potential Churners'),
 ('Blauer See Auto, Co.', 3, 2, 2, '322', 'Potential Churners'),
 ('Mini Classics', 3, 3, 2, '332', 'Active'),
 ('Collectable Mini Designs Co.', 4, 2, 3, '423', 'Loyal Customer'),
 ('Vitachrome Inc.', 3, 2, 3, '323', 'Active'),
 ('Stylish Desk Decors, Co.', 2, 3, 3, '233', 'Potential Churners'),
 ('Auto Canal Petit', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Cruz & Sons Co.', 3, 3, 3, '333', 'Active'),
 ('Amica Models & Co.', 4, 3, 3, '433', 'Loyal Customer'),
 ("La Corne D'abondance, Co.", 3, 2, 3, '323', 'Active'),
 ('FunGiftIdeas.com', 2, 3, 3, '233', 'Potential Churners'),
 ('Toms Spezialitten, Ltd', 3, 3, 3, '333', 'Active'),
 ('Heintze Collectables', 3, 3, 3, '333', 'Active'),
 ('Gift Depot Inc.', 1, 2, 3, '123', 'Lost Customer'),
 ("Marta's Replicas Co.", 4, 3, 3, '433', 'Loyal Customer'),
 ('Oulu Toy Supplies, Inc.', 2, 3, 3, '233', 'Potential Churners'),
 ('Toys4GrownUps.com', 2, 3, 3, '233', 'Potential Churners'),
 ('Mini Creations Ltd.', 2, 4, 3, '243', 'Others'),
 ('Toys of Finland, Co.', 2, 3, 3, '233', 'Potential Churners'),
 ('Herkku Gifts', 4, 3, 3, '433', 'Loyal Customer'),
 ('Suominen Souveniers', 2, 3, 3, '233', 'Potential Churners'),
 ('Handji Gifts& Co', 1, 4, 3, '143', 'Slipping Away (High Value)'),
 ('Baane Mini Imports', 3, 3, 3, '333', 'Active'),
 ('Vida Sport, Ltd', 4, 3, 3, '433', 'Loyal Customer'),
 ('UK Collectables, Ltd.', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Tokyo Collectables, Ltd', 1, 3, 3, '133', 'Slipping Away (High Value)'),
 ('Corrida Auto Replicas, Ltd', 3, 3, 4, '334', 'Slipping Away (High Value)'),
 ('Technics Stores Inc.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Diecast Classics Inc.', 1, 3, 4, '134', 'Slipping Away (High Value)'),
 ('Online Diecast Creations Co.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('Scandinavian Gift Ideas', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Reims Collectables', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Rovelli Gifts', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ("L'ordine Souveniers", 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Saveley & Henriot, Co.', 4, 4, 4, '444', 'Loyal Customer'),
 ('Danish Wholesale Imports', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Salzburg Collectables', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Corporate Gift Ideas Co.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Souveniers And Things Co.', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ("Anna's Decorations, Ltd", 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('AV Stores, Co.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('The Sharp Gifts Warehouse', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Land of Toys Inc.', 3, 4, 4, '344', 'Slipping Away (High Value)'),
 ('Dragon Souveniers, Ltd.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('La Rochelle Gifts', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Muscle Machine Inc', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Australian Collectors, Co.', 2, 4, 4, '244', 'Slipping Away (High Value)'),
 ('Mini Gifts Distributors Ltd.', 1, 4, 4, '144', 'Slipping Away (High Value)'),
 ('Euro Shopping Channel', 1, 4, 4, '144', 'Slipping Away (High Value)')]